@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body {
    background-color: #00030C;
}

/* CSS da parte HEADER*/

.cabecalho {
    background-image: url(img/Background.png);
    background-size: contain;
    width: 98.7vw;
    height: 100vh;
    position: relative;
}

.cabecalho__infos {
    width: 588px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 125px;
    left: 54px;


}
.cabecalho__descricao {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.cabecalho__button {
    font-size: 1em;
    width: 512px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid white;
    color: white;
    background-color: rgba(0,0,0,0);

}

.button--azul {
    background-color:#167BF7;
    border: none;
}

.cabecalho__alerta {
    font-size: 12px;
    color: #C0C0C0;
    text-align: center;
    font-style: normal;
}

/* CSS da parde MAIN */

.infos {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}
.infos__card {         
    width: 80vw;
    display:grid;
    grid-template-columns:auto 1fr;
    margin-top: 100px;
    gap: 1em 5em;
    align-self: flex-end;
}

.infos__title {
    font-size: 3em;
    width: 588px;
    color: white;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
    justify-self: flex-start;
}

.infos__descricao {
    font-size: 1.2em;
    width: 588px;
    color: #F9F9F9;
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-start;
}

.infos__img {
    width: 35vw;
    grid-column: 1;
    grid-row: 1/ span 2;
    justify-self: center;
    
}

.infos__produto {
    width: 80vw;
    display: grid;
    grid-template-columns:  1fr 1fr;
    row-gap: 1em;
    margin: 100px auto 0;
}

.produto__img {
    width: 35vw;
    grid-column: 2;
    grid-row: 1/ span 2;
    justify-self: flex-start;
}

.produto__descricao {
    font-size: 1.2em;
    width: 588px;
    color: #F9F9F9;
    grid-column: 1;
    align-self: flex-end;
    justify-self: flex-start;
    
}

.produto__button {
    font-size: 1em;
    padding: 16px;
    border-radius: 8px;
    color: white;
    grid-column: 1;
    align-self: flex-start;
    justify-self: flex-start;
}

.dispositivos {
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    max-width: 80vw;
    margin: 10em auto;
}

.dispositivos__title {  /*seção de dispositivos*/
    font-size: 48px;
    color: #FFFFFF;
    grid-column: 1/ span 3;
    justify-self: center;
    margin-bottom: 1em;
}

.dispositivo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dispositivo__nome {
    font-size: 32px;
    color: #FFFFFF;
}

/* CSS parde HEADER */

.rodape {
    width: 80vw;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.rodape__logo {
   width: 150px;
   align-self: center;
   margin-bottom: 40px;
}

.rodape__links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 20px;
}

.rodape__link {
    text-decoration: none;
    color: white;
}

.copyright {
    color: #C0C0C0;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 1em;
}